@page "/vozidla"
<h3>VehicleMenuPage</h3>

<div>
    Buses
    <button @onclick="OpenBuses">Autobusy</button>
</div>
<div>
    Trolejbusy
    <button @onclick="OpenTrolleybuses">Trolejbusy</button>
</div>
<div>
    Tramvaje
    <button @onclick="OpenTrams">Tramvaje</button>
</div>